// Import Sass entry file containing all sass imports
@import './index.sass'

// Set some base styles for app shell
body
  background-color: lighten($black, 95%)
  font-family: $primary-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

figure.ui-cover-img
  margin: 0
