// Import Sass entry file containing all sass imports
@import './index.sass'

body
  background-color: lighten($black, 0)
  font-family: $primary-font
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

figure.ui-cover-img
  margin: 0

body::-webkit-scrollbar
  width: $spacing-normal

body::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3)

body::-webkit-scrollbar-thumb
  background-color: $brand-orange
  outline: 1px solid $brand-orange
  cursor: pointer
