// Setup Brand specific styles
$brand-grey: #F5EFED
$brand-black: #0F0A0A
$brand-blue: #2292A4
$brand-green: #BDBF09
$brand-orange: #D96C06

$white: #FFFFFF
$black: #000000

// Base font family
$primary-font: 'Open Sans', sans-serif
$secondary-font: 'Montserrat', sans-serif
$tertiary-font: 'Black Han Sans', sans-serif

// Font weight
$font-weight-thin: 300
$font-weight-normal: 400
$font-weight-bold: 600
$font-weight-bolder: 700

// Break points, based on todays standard screen widths
$small: 320px
$medium: 768px
$large: 1366px
$x-large: 1440px
