// Setup Brand specific styles
$brand-grey: #F5EFED
$brand-black: #0F0A0A
$brand-blue: #2292A4
$brand-green: #BDBF09
$brand-orange: #D96C06

$white: #FFFFFF
$black: #000000

// Base font family
$primary-font: 'Open Sans', sans-serif
$secondary-font: 'Montserrat', sans-serif
$tertiary-font: 'Black Han Sans', sans-serif

// Font size
$font-size-small: 12px
$font-size-medium: 16px
$font-size-large: 20px
$font-size-larger: 24px
$font-size-largest: 28px
$font-size-extra-large: 32px

// Font weight
$font-weight-thin: 300
$font-weight-normal: 400
$font-weight-bold: 600
$font-weight-bolder: 700

// spacing
$spacing-none: 0em
$spacing-small: 0.5em
$spacing-normal: 1em
$spacing-medium: 1.5em

// Break points
$small: 320px
$medium: 768px
$large: 1366px
$x-large: 1440px
